.vertical-line {
    border-left: thick solid #ff0000;
}
.top-5 {margin-top:8px !important;}
.top-6 {margin-top:13px;}

.box-6 {overflow:hidden; margin-top:13px;}
.box-6>div { width:290px; float:left; margin-right:35px;}
.box-6 a.link-2 {display:inline-block; margin-bottom:3px;}